body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}
h1{
    text-align: center;
    border-radius: 50px;
}
h3{
    margin-top:0px;
    margin-bottom:opx;
}
.top{
    margin-top:50px;
    margin-left:70px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jim{
    margin-left:50px;
    margin-top:30 px;
}
li{
    color:darkgrey;
    margin-left:30px;
}
.photo{
    float: right;
    margin-left: 15px;
    margin-bottom:10px;
   

}
#name{
    width: 30%;
    height: 30px;
    margin-top:5px;
}
table , th ,td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin-bottom:10px;
    font-weight: 700 ;
}
.button{
box-shadow: 10px 10px 10px black;
}
.section{
    background-color:darkgrey;
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom:40px;
}
.pic{
    display: grid;
    align-items: center;
    justify-content: center;
    gap:20px;
    grid-template-columns: repeat(2,1fr);
}
.avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.full{
    height: 400px;
    width: 300px;
    border-radius: 10px;
}
